IteraDisc.Api/obj/Debug/net8.0/IteraDisc.Api.AssemblyInfo.cs
IteraDisc.Api/obj/Debug/net8.0/IteraDisc.Api.AssemblyInfoInputs.cache
IteraDisc.Api/obj/Debug/net8.0/IteraDisc.Api.csproj.AssemblyReference.cache
IteraDisc.Aplicacao/obj/Debug/net8.0/IteraDisc.Aplicacao.AssemblyInfo.cs
IteraDisc.Aplicacao/obj/Debug/net8.0/IteraDisc.Aplicacao.AssemblyInfoInputs.cache
IteraDisc.Aplicacao/obj/Debug/net8.0/IteraDisc.Aplicacao.csproj.AssemblyReference.cache
IteraDisc.Dominio/obj/Debug/net8.0/IteraDisc.Dominio.AssemblyInfo.cs
IteraDisc.Dominio/obj/Debug/net8.0/IteraDisc.Dominio.AssemblyInfoInputs.cache
IteraDisc.Repositorio/obj/Debug/net8.0/IteraDisc.Repositorio.AssemblyInfo.cs
IteraDisc.Repositorio/obj/Debug/net8.0/IteraDisc.Repositorio.AssemblyInfoInputs.cache
IteraDisc.Repositorio/obj/Debug/net8.0/IteraDisc.Repositorio.csproj.AssemblyReference.cache